.large_use {
  display: inline; }

#section__intro {
  max-width: 1920px;
  margin: 0 auto; }

#section__new__zenUI .zenui__app {
  margin-top: 32px; }

#section__zenUI__experience .zenUI__experience__img {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/discover.jpg', sizingMethod='scale'); }

.slick-next, .slick-prev {
  text-indent: -9999px; }

#section__carousel__zenUI .slick__01 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/01-icon.png"); }

#section__carousel__zenUI .slick__02 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/02-icon.png"); }

#section__carousel__zenUI .slick__03 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/03-icon.png"); }

#section__carousel__zenUI .slick__04 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/04-icon.png"); }

#section__carousel__zenUI .slick__05 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/05-icon.png"); }

#section__carousel__zenUI .slick__06 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/06-icon.png"); }

#section__carousel__zenUI .slick__07 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/07-icon.png"); }

#section__carousel__zenUI .slick__08 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/08-icon.png"); }

#section__carousel__zenUI .slick__09 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/09-icon.png"); }

#section__carousel__zenUI .slick__10 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/10-icon.png"); }

#section__carousel__zenUI .slick__11 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/11-icon.png"); }

#section__carousel__zenUI .slick__12 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/12-icon.png"); }

#section__carousel__zenUI .slick__13 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/13-icon.png"); }

#section__carousel__zenUI .slick__14 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/14-icon.png"); }

#section__carousel__zenUI .slick__15 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/15-icon.png"); }

#section__carousel__zenUI .slick__16 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/16-icon.png"); }

#section__carousel__zenUI .slick__17 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/17-icon.png"); }

#section__carousel__zenUI .slick__18 .logo__left {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/large/carousel/ie_icon/18-icon.png"); }

#section__carousel__zenUI .slick__01 .slick__img {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/medium/carousel/01-phone.jpg"); }

#section__carousel__zenUI .slick__03 .slick__img {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/medium/carousel/03-phone.jpg"); }

#section__carousel__zenUI .slick__08 .slick__img {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/medium/carousel/08-phone.jpg"); }

#section__carousel__zenUI .slick__09 .slick__img {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/medium/carousel/09-phone.jpg"); }

#section__carousel__zenUI .slick__13 .slick__img {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/medium/carousel/13-phone.jpg"); }

#section__carousel__zenUI .slick__18 .slick__img {
  background-image: url("/websites/global/products/BXbNqJplzZiLmk6G/v1/zenui/images/medium/carousel/18-phone.jpg"); }
