.large_use {
  display: inline; }

#section__Beauty__goes {
  max-width: 1920px;
  margin: 0 auto \9; }

#section__ultra__thin .ultra__thin__img {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/websites/global/products/BXbNqJplzZiLmk6G/v1/beauty/images/large/ultra-thin.png', sizingMethod='scale'); }
